@import '~@ni/nimble-angular/styles/tokens';

.container-label {
    font-family: $ni-nimble-group-label-font-family;
    font-weight: $ni-nimble-group-label-font-weight;
    font-size: $ni-nimble-group-label-font-size;
    color: $ni-nimble-group-label-font-color;
    padding-bottom: $ni-nimble-standard-padding;
}

p, a {
    color: $ni-nimble-label-font-color;
}

.container {
    background-color: $ni-nimble-application-background-color;
    display: inline-flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px 2px 0px 10px;
}

.sub-container {
    margin: $ni-nimble-standard-padding;
}

.sub-container > * {
    padding-right: $ni-nimble-standard-padding;
}

.sub-container > span {
    font-size: 75%;
}

.theme-select {
    display: block;
    width: 150px;
    min-width: unset; 
}

.drawer-location-select {
    width: 200px;
}

example-header {
    display: block;
}
