@import '@ni/nimble-angular/styles/tokens';

.content {
    width: 100%;
    box-sizing: border-box;
    font: $ni-nimble-body-font;
}

.container-label {
    font: $ni-nimble-group-header-font;
    color: $ni-nimble-group-header-font-color;
    padding-bottom: $ni-nimble-standard-padding;
}

p, a {
    color: $ni-nimble-control-label-font-color;
}

.container {
    background-color: $ni-nimble-application-background-color;
    display: inline-flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px 2px 0px 10px;
}

.sub-container {
    margin: $ni-nimble-standard-padding;
}

.sub-container > * {
    margin-right: $ni-nimble-standard-padding;
}

.theme-select {
    display: block;
    width: 150px;
    min-width: unset;
}

.drawer-location-select {
    width: 200px;
}

example-header {
    display: block;
}

nimble-toolbar::part(positioning-region) {
    background-color: $ni-nimble-section-background-color;
}

.card-button-content {
    display: flex;
    margin: $ni-nimble-standard-padding;
}

.drawer-footer {
    gap: $ni-nimble-standard-padding;
}

nimble-dialog {
    h2 {
        font: $ni-nimble-title-font;
        color: $ni-nimble-title-font-color;
    }

    p {
        color: $ni-nimble-body-font-color;
    }
}

nimble-drawer {
    p {
        color: $ni-nimble-body-font-color;
    }
}
