<div class="content container">
    <p>Explore the components below to see the Nimble components in action. See the <a
            href="https://ni.github.io/nimble/storybook/?path=/story/getting-started--page">Nimble
            component docs</a> for additional usage details.</p>
    <div class="container">
        <div class="sub-container">
            <div class="container-label">Text Field</div>
            <nimble-text-field ngModel (ngModelChange)="doChange()" appearance="underline" placeholder="Text Field" value="Here is text!">Underline Text Field</nimble-text-field>
            <nimble-text-field appearance="outline" placeholder="Text Field" value="Here is text!">Outline Text Field</nimble-text-field>
            <nimble-text-field appearance="block" placeholder="Text Field" value="Here is text!">Block Text Field</nimble-text-field>
        </div>
    </div>
</div>
