.container {
    background-color: var(--application-background-color);
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px 2px 0px 10px;
}

.theme-select {
    display: block;
    width: 150px;
    min-width: unset; 
}

.drawer-location-select {
    width: 200px;
    margin-left: 10px;
}

nimble-example-header {
    display: block;
}
