/* You can add global styles to this file, and also import other style files */

@import '@ni/nimble-angular/styles/fonts';

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}
