@import url('@ni/nimble-tokens/dist/styledictionary/css/variables.css');

.container {
    display: grid;
    align-items: center;
}

.column > * {
    margin: var(--ni-nimble-small-padding);
}

.column.controls {
    padding-left: var(--ni-nimble-medium-padding);
    padding-right: var(--ni-nimble-medium-padding);
}

.frame {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.22);
    padding: 16px;
}
