@use 'sass:list';
@use "@ni/nimble-tokens/dist/styledictionary/scss/variables" as *;
@use "@ni/nimble-components/dist/fonts" as *;
@use "@ni/nimble-components/dist/tokens" as *;

$rgb-ni-sky-light: #A5DDED;
$rgb-labview: #FFC60B;
$card-height: 4.5rem;

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.backdrop {
    height: 100%;
    width: 100%;
    background-color: $ni-nimble-application-background-color;
    position: fixed;
    z-index: -1;
}

.container {
    display: grid;
    grid-template-columns: 8fr 12fr;
    grid-template-areas: 'circles main';
    min-height: 50px;
    width: 100%;
}

.main-content {
    grid-area: main;
    min-height: 50px;
}

.banner {
    box-sizing: border-box;
    margin-top: 10rem;
    margin-bottom: 8rem;
    min-width: 0;
    width: 100%;
}

.banner-main {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    max-width: 48rem;
    margin: 0 auto;
    text-align: center;
}

.banner-main > p {
    max-width: 40rem;
    color: $ni-nimble-body-font-color;
    font-family: $ni-nimble-body-font-family;
    font-size: $ni-nimble-title-font-size;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, $card-height);
    gap: 2rem;
    row-gap: 8rem;
    justify-items: center;
    align-items: center;
}

.card-wrapper {
    width: 23rem;
    justify-content: left;
    display: flex;
}

.card {
    height: $card-height;
    display: grid;
    grid-template-areas: "icon name"
        "icon description";
    text-decoration: none;
    grid-template-columns: 4rem auto;
    column-gap: 2rem;
    box-sizing: border-box;
    margin: .5rem;
    border-bottom: 3px solid transparent;
    color: $ni-nimble-body-font-color;
}

.card:hover {
    border-bottom-color: $ni-nimble-border-hover-color;
    cursor: pointer;
}

.card .name {
    grid-area: name;
    font-family: $ni-nimble-headline-font-family;
    font-size: $ni-nimble-headline-plus-1-font-size;
    font-weight: $ni-nimble-headline-plus-1-font-weight;
}

.card .icon {
    grid-area: icon;
}

.icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-angular {
    background-image: url('./images/angular-light.svg');
}

nimble-theme-provider[theme="dark"] .icon-angular {
    background-image: url('./images/angular-dark.svg');
}

.icon-blazor {
    background-image: url('./images/blazor-light.svg');
}

nimble-theme-provider[theme="dark"] .icon-blazor {
    background-image: url('./images/blazor-dark.svg');
}

.icon-figma {
    background-image: url('./images/figma-light.svg');
}

nimble-theme-provider[theme="dark"] .icon-figma {
    background-image: url('./images/figma-dark.svg');
}

.icon-github {
    background-image: url('./images/github-light.svg');
}

nimble-theme-provider[theme="dark"] .icon-github {
    background-image: url('./images/github-dark.svg');
}

.icon-nimble {
    width: 326px;
    height: 97px;
    background-image: url('./images/nimble-light.svg');
}

nimble-theme-provider[theme="dark"] .icon-nimble {
    background-image: url('./images/nimble-dark.svg');
}

.icon-react {
    background-image: url('./images/react-light.svg');
}

nimble-theme-provider[theme="dark"] .icon-react {
    background-image: url('./images/react-dark.svg');
}

.icon-storybook {
    background-image: url('./images/storybook-light.svg');
}

nimble-theme-provider[theme="dark"] .icon-storybook {
    background-image: url('./images/storybook-dark.svg');
}

.card .description {
    grid-area: description;
    font-family: $ni-nimble-body-font-family;
    font-size: $ni-nimble-subtitle-plus-1-font-size;
    font-weight: $ni-nimble-subtitle-plus-1-font-weight;
    vertical-align: top;
}

.circle-wrapper {
    grid-area: circles;
    position: fixed;
    top: -5rem;
    right: 60%;
    z-index: -1;
    transition: right 500ms ease-in-out;
}

@keyframes move-circle {
    from {
        transform: rotate(var(--circle-init-angle));
    }
    to {
        transform: rotate(var(--circle-end-angle));
    }
}

circle {
    border-radius: 50%;
    transform-origin: center;

    transform: rotate(var(--circle-init-angle));
    stroke-dasharray: calc(var(--circle-length) / 4);

    stroke-dashoffset: var(--circle-dash-offset);

    animation-name: move-circle;
    animation-duration: var(--circle-time);
    animation-timing-function: ease-in-out;
    animation-delay: var(--circle-start-time);
    animation-iteration-count: infinite;
    animation-direction: var(--circle-direction);
    animation-play-state: paused;
}

// $colors:
//     $ni-nimble-graph-trace-1-color,
//     $ni-nimble-graph-trace-2-color,
//     $ni-nimble-graph-trace-3-color,
//     $ni-nimble-graph-trace-4-color,
//     $ni-nimble-graph-trace-5-color,
//     $ni-nimble-graph-trace-6-color,
//     $ni-nimble-graph-trace-7-color;

$colors:
    $ni-nimble-base-power-green,
    $ni-nimble-base-rgb-ni-green,
    $ni-nimble-base-forest-green,
    $ni-nimble-base-ni-scarlet,
    $rgb-ni-sky-light,
    $ni-nimble-base-ni-sky,
    $rgb-labview;

@for $i from 1 through list.length($colors) {
    circle:nth-of-type(#{list.length($colors)}n+#{$i}) {
        stroke: list.nth($colors, $i);
    }
}

@media screen and (max-width: 1600px) {
    .circle-wrapper{
        right: 60%;  
    }
}

@media screen and (max-width: 1260px) {
    .container {
        grid-template-columns: 4fr 10fr;
    }

    .banner{
        margin-bottom: 5rem;
    }

    .main-content{
        padding-right: 4rem;;
    }

    .cards {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }
    .circle-wrapper {
        right: 70%;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition-duration: 0s !important;
    }
}
