@import '~@ni/nimble-angular/styles/tokens';

.drawer-container {
    font: $ni-nimble-body-font;
    height: 100%;
    #{$ni-nimble-internal-drawer-width}: 300px;
    background-color: $ni-nimble-application-background-color;
}

.drawer-container.pinned {
    display: grid;
    grid-template-areas: "drawer content";
    grid-template-columns: $ni-nimble-drawer-width 1fr;
}

.drawer-container.pinned.location-right {
    grid-template-areas: "content drawer";
    grid-template-columns: 1fr $ni-nimble-drawer-width;
}

.drawer-container .content {
    grid-area: content;
}

.drawer-container nimble-drawer {
    grid-area: drawer;
}
