# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specs
/specs @rajsite @jattasNI @fredvisser @atmgrifter00
*.spec.md @rajsite @jattasNI @fredvisser @atmgrifter00
/change

# Specific packages
/angular-workspace/projects/ni/nimble-angular @brianehenry @rajsite
