# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace @rajsite @mollykreis
/packages/blazor-workspace @rajsite @msmithNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/**/chat/** @jattasNI
/**/breakpoint/** @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @mollykreis

# .snyk security scanning configuration file
/.snyk @chris468 @cameronwaterman @BKnight760 @rbell517 @jattasNI @prestwick

# Change files don't need explicit reviewers
/change
