.container {
    background-color: var(--application-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.theme-button {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
}

.login-container {
    display: flex;
    flex-direction: column;
}

nimble-button {
    margin-bottom: 12px;
    width: fit-content;
}

nimble-text-field {
    width: 150px;
    margin-bottom: 12px;
}
