.container {
    background-color: var(--application-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-height));
}

.login-container {
    display: flex;
    flex-direction: column;
}

nimble-button {
    margin-bottom: 12px;
    width: fit-content;
}

nimble-text-field {
    width: 150px;
    margin-bottom: 12px;
}
