@import '@ni/nimble-angular/styles/tokens';

:host {
    background-color: $ni-nimble-application-background-color;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
}

nimble-button {
    margin-bottom: 12px;
    width: fit-content;
}

nimble-text-field {
    width: 150px;
    margin-bottom: 12px;
}
