<nimble-theme-provider [attr.theme]="theme">
    <div class="container">
        <nimble-button class="theme-button" (click)="switchThemes()" >Switch to {{theme === themes.Light ? 'Dark' : 'Light'}} theme</nimble-button>
        <div [formGroup]="loginForm" class="login-container">
            <nimble-text-field formControlName="username">Username</nimble-text-field>
            <nimble-text-field formControlName="password" type="password" [invalid]="!this.loginForm.controls.password.pristine && !!this.loginForm.controls.password.errors">Password</nimble-text-field>
            <nimble-button [disabled]="!!this.loginForm.controls.password.errors">Login</nimble-button>
        </div>
    </div>
</nimble-theme-provider>
