@import '@ni/nimble-angular/styles/tokens';

.content {
    width: 100%;
    box-sizing: border-box;
    font: $ni-nimble-body-font;
}

.container {
    background-color: $ni-nimble-application-background-color;
    display: inline-flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px 2px 0px 10px;
}
