


html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    height: 100vh;
  }

h1 {
    font: 400 25px/32px Arial, sans-serif;
    color: black;
}
