<div class="header">
  <nimble-drawer #drawerReference [location]="location">
    <div class="drawer-content">
      <nimble-button appearance="outline" (click)="closeDrawer()">Close drawer</nimble-button>
      <br />
      <form [formGroup]="settingsForm">
        <p>Theme</p>
        <nimble-select appearance="outline" formControlName="theme" (change)="themeSelectionChange($event)">
          <nimble-list-option [value]="themes.light">Light theme</nimble-list-option>
          <nimble-list-option [value]="themes.dark">Dark theme</nimble-list-option>
        </nimble-select>
      </form>
    </div>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="page-two" routerLinkActive="active">Page Two</a>
  </nimble-drawer>
  <nimble-button appearance="outline" (click)="openDrawer()">Open drawer</nimble-button>
</div>
