@import "~@ni/nimble-angular/styles/tokens";
.header{
  background-color: $ni-nimble-header-background-color;
  padding: $ni-nimble-small-padding;
}

.drawer-content{
  padding: $ni-nimble-standard-padding;
}

.active{
  color: red;
}

form {
  display: inline-flex;
  flex-direction: column;
}
