@import '../../NimbleDesignTokens/tokens';

::deep .rich-text-viewer-container {
    border: $ni-nimble-border-width solid rgba($ni-nimble-action-rgb-partial-color, 0.3);
    padding: $ni-nimble-small-padding;
    width: 350px;
}
