@import '../../NimbleDesignTokens/tokens';

::deep .container-label {
    font: $ni-nimble-group-header-font;
    color: $ni-nimble-group-header-font-color;
    padding-bottom: $ni-nimble-standard-padding;
}
