@import '~@ni/nimble-components/dist/tokens.scss';

.header {
    --example-client-header-height: 48px;
    background-color: $ni-nimble-border-color-hover;
    display: flex;
    justify-content: flex-end;
    height: var(--example-client-header-height);
    #{$ni-nimble-internal-drawer-width}: 500px;
}

.user-settings-drawer {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.theme-select {
    width: 150px;
    min-width: unset;
}

.close-button {
    align-self: flex-end;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    z-index: 1;
    right: 1px;
    top: var(--example-client-header-height);
}
