.header {
    --header-height: 48px;
    background-color: var(--border-color-hover);
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
    --drawer-width: 500px;
}

.user-settings-drawer {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.theme-select {
    width: 150px;
    min-width: unset;
}

.close-button {
    align-self: flex-end;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    z-index: 1;
    right: 1px;
    top: var(--header-height);
}
