<div class="header">
    <nimble-drawer #drawerReference location="right">
        <div class="user-settings-drawer">
            <h1>User settings</h1>
            <nimble-select class="theme-select" [ngModel]="theme" (ngModelChange)="themeSelectionChange($event)">
                <nimble-listbox-option *ngFor="let theme of themes" [ngValue]="theme.value">
                    {{theme.name}}
                </nimble-listbox-option>
            </nimble-select>
            <nimble-button class="close-button" appearance="outline" (click)="closeButtonClicked()">Close</nimble-button>
        </div>
    </nimble-drawer>
    <div class="menu-container">
        <nimble-button appearance="outline" (click)="onMenuButtonClick()">Menu</nimble-button>
        <nimble-menu class="menu" [hidden]="hideMenu">
            <nimble-menu-item (change)="onUserSettingsSelected()">User Settings</nimble-menu-item>
            <nimble-menu-item (change)="onLogoutSelected()">Logout</nimble-menu-item>
        </nimble-menu>
    </div>
</div>
