@use '@ni/nimble-angular/styles/tokens' as *;

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.header {
    background-color: $ni-nimble-header-background-color;
    display: flex;
    justify-content: flex-end;
}

.router-outlet-wrapper {
    overflow-y: auto;
    height: 100%;
}
