// Nimble React Tokens SCSS
// Can use this file in two different ways:
// - @use once per SCSS file that is leveraging the tokens (helpful for autocomplete features, etc)
// - @forward globally in the application styles.scss (less noise per file)

@forward '@ni/nimble-components/dist/tokens';
