.drawer-container {
    font: var(--ni-nimble-body-font);
    height: 100%;
    --ni-nimble-drawer-width: 300px;
    background-color: var(--ni-nimble-application-background-color);
}

.drawer-container.pinned {
    display: grid;
    grid-template-areas: "drawer content";
    grid-template-columns: var(--ni-nimble-drawer-width) 1fr;
}

.drawer-container.pinned.location-right {
    grid-template-areas: "content drawer";
    grid-template-columns: 1fr var(--ni-nimble-drawer-width);
}

::deep.drawer-container .content {
    grid-area: content;
}

::deep.drawer-container nimble-drawer {
    grid-area: drawer;
}
