name: 'main'

on:
  pull_request:
  push:
    branches:
      - '**'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_SERVICE_USER: "rajsite"
  GITHUB_SERVICE_EMAIL: "rajsite@users.noreply.github.com"

jobs:
  build:
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, '[bump-versions]')"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required for changelog detection
          token: ${{ secrets.GITHUBPAGESDEPLOYTOKEN }}

      # Install dependencies
      - uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: 5.0.x
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - run: npm ci

      # Audit
      - run: npm run audit

      # Build
      - run: npm run build

      # Pack
      - run: npm run pack
      - run: npm run pack:nuget -w @ni/nimble-tokens
      - uses: actions/upload-artifact@v2
        with:
          name: packages
          path: |
            packages/**/*.tgz
            packages/**/*.nupkg
            angular-workspace/**/*.tgz
          if-no-files-found: error

      # Publish to Chromatic (from any push)
      - name: Publish to Chromatic
        if: github.event_name == 'push'
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: ./packages/nimble-components
          storybookBuildDir: ../../packages/site/dist/storybook
          exitOnceUploaded: true # Do not wait for test results
          exitZeroOnChanges: true # Option to prevent the workflow from failing

      # Run Lighthouse audit (from any push)
      - name: Performance Audit with Lighthouse CI
        if: github.event_name == 'push'
        run: npm run performance
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}

      # Lint
      - run: npm run lint

      # Test
      - run: npm run test

      # Check Changelog
      - run: npm run check

      - name: Validate no changes to tracked files
        run: |
          echo print files with changes:
          git diff-index --ignore-space-at-eol --stat HEAD
          echo exit with error if there are changes.
          git diff-index --quiet --ignore-space-at-eol --stat HEAD

      # Release
      - name: Set Git User
        if: startsWith(github.ref, 'refs/heads/main')
        run: |
          git config --global user.name "${{ env.GITHUB_SERVICE_USER }}"
          git config --global user.email "${{ env.GITHUB_SERVICE_EMAIL }}"

      # Publish site to GitHub Pages (only from main)
      - name: Install ruby
        if: startsWith(github.ref, 'refs/heads/main')
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - name: Install dependencies
        if: startsWith(github.ref, 'refs/heads/main')
        run: gem install dpl
      - name: Deploy to GitHub Pages
        if: startsWith(github.ref, 'refs/heads/main')
        run: dpl --provider=pages --repo=ni/nimble --local_dir=packages/site/dist --skip_cleanup --name="${{ env.GITHUB_SERVICE_USER }}" --email="${{ env.GITHUB_SERVICE_EMAIL }}" --github-token=${{ secrets.GITHUBPAGESDEPLOYTOKEN }}

      # Update package versions and tag but not publish to npm (only from main)
      - name: Beachball bump versions
        if: startsWith(github.ref, 'refs/heads/main')
        run: npm run bump-versions
