on:
    pull_request:
    push:
        branches:
            - '*'
        tags:
            - 'v*'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_SERVICE_USER: "NI Nimble Builds"
  GITHUB_SERVICE_EMAIL: "TODO@ni.com"

jobs:
    build:
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v2

            # Install dependencies
            - uses: actions/setup-node@v1
              with:
                node-version: '12'
                registry-url: 'https://registry.npmjs.org'
            - run: npm install --global npm@7
            - run: npm ci

            # Check for beachball change file inside ./change
            # - run: npm run check

            # Lint
            # - run: npm run lint

            # Build
            - run: npm run build
            # - run: npm run pack
            # - uses: actions/upload-artifact@v2
            #   with:
            #     name: packages
            #     path: ./packages/*.tgz
            #     if-no-files-found: error

            # Test
            - run: npm run test

            - name: Validate no changes to tracked files
              run: |
                echo print files with changes:
                git diff-index --ignore-space-at-eol --stat HEAD
                echo exit with error if there are changes.
                git diff-index --quiet --ignore-space-at-eol --stat HEAD

            # Publish NPM packages
            - name: Set Git User
              run: |
                git config --global user.name "${{ env.GITHUB_SERVICE_USER }}"
                git config --global user.email "${{ env.GITHUB_SERVICE_EMAIL }}"

            # - if: startsWith(github.ref, 'refs/heads/main')
            #   env:
            #     NPM_SECRET_TOKEN: ${{ secrets.NPM_TOKEN }}
            #   run: npm run publish-ci -n $NPM_SECRET_TOKEN
