name: 'main'

on:
  pull_request:
  push:
    branches:
      - '*'
    tags:
      - '@ni/nimble-tokens_v*'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_SERVICE_USER: "rajsite"
  GITHUB_SERVICE_EMAIL: "rajsite@users.noreply.github.com"

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required for changelog detection
          token: ${{ secrets.GITHUBPAGESDEPLOYTOKEN }}

      # Install dependencies
      - uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: 5.0.x
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install --global npm@7
      - run: npm ci

      # Build
      - run: npm run build

      # Pack
      - run: npm run pack
      - uses: actions/upload-artifact@v2
        with:
          name: packages
          path: |
            packages/**/*.tgz
            angular-workspace/**/*.tgz
          if-no-files-found: error

      # Build Nuget
      - name: build tokens nuget
        run: npm run build:nuget -w @ni/nimble-tokens
      - uses: actions/upload-artifact@v2
        with:
          name: nuget package
          path: packages/**/*.nupkg
          if-no-files-found: error

      # Lint
      - run: npm run lint

      # Test
      - run: npm run test

      # Check Changelog
      - run: npm run check

      - name: Validate no changes to tracked files
        run: |
          echo print files with changes:
          git diff-index --ignore-space-at-eol --stat HEAD
          echo exit with error if there are changes.
          git diff-index --quiet --ignore-space-at-eol --stat HEAD

      # Publish
      - name: Set Git User
        if: startsWith(github.ref, 'refs/heads/main')
        run: |
          git config --global user.name "${{ env.GITHUB_SERVICE_USER }}"
          git config --global user.email "${{ env.GITHUB_SERVICE_EMAIL }}"

      # Publish to Chromatic (from any push)
      - name: Publish to Chromatic
        if: github.event_name == 'push'
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: ./packages/nimble-components
          storybookBuildDir: ../../packages/site/dist/storybook
          exitOnceUploaded: true # Do not wait for test results
          exitZeroOnChanges: true # Option to prevent the workflow from failing

      # Run Lighthouse audit
      - name: Performance Audit with Lighthouse CI
        run: npm run performance
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}

      # Publish site to GitHub Pages (only from main)
      - name: Install ruby
        if: startsWith(github.ref, 'refs/heads/main')
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - name: Install dependencies
        if: startsWith(github.ref, 'refs/heads/main')
        run: gem install dpl
      - name: Deploy to GitHub Pages
        if: startsWith(github.ref, 'refs/heads/main')
        run: dpl --provider=pages --repo=ni/nimble --local_dir=packages/site/dist --skip_cleanup --name="${{ env.GITHUB_SERVICE_USER }}" --email="${{ env.GITHUB_SERVICE_EMAIL }}" --github-token=${{ secrets.GITHUBPAGESDEPLOYTOKEN }}

      # Publish NPM packages (only from main)
      - name: Beachball publish
        if: startsWith(github.ref, 'refs/heads/main')
        env:
          NPM_SECRET_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run publish-ci -- -n $NPM_SECRET_TOKEN
      # Beachball doesn't update package-lock.json files when publishing.
      # See https://github.com/microsoft/beachball/issues/525#issue-901698225
      # Modified to only commit on changes: https://stackoverflow.com/a/68479810      
      - name: Lockfile update
        if: startsWith(github.ref, 'refs/heads/main')
        run: |
          echo "Latest commit before merge main"
          git log -1
          echo "Merging from main"
          git merge --ff-only origin/main
          echo "Latest commit after merge main"
          git log -1
          echo "Clearing node_modules"
          rm -rf node_modules
          echo "Updating lock file"
          npm i --package-lock-only
          git add -A
          if git diff-index --quiet HEAD;
          then
            echo "no changes found to push to main"
          else
            echo "changes found to push to main"
            git commit -m "applying package lock updates [skip ci]"
            git push --set-upstream origin main
          fi

      # Publish Nuget package
      - if: startsWith(github.ref, 'refs/tags/@ni/nimble-tokens_v')
        name: nuget publish
        run: |
          nuget push *.nupkg -ApiKey ${{secrets.NUGET_TOKEN}} -Source "https://api.nuget.org/v3/index.json"