@use '@ni/nimble-react/styles/tokens' as *;

.example-root {
    background-color: $ni-nimble-application-background-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.header {
    background-color: $ni-nimble-header-background-color;
    display: flex;
    justify-content: flex-end;
}

.content-container-wrapper {
    overflow: auto;
    height: 100%;
}

.content-container {
    width: 100%;
    box-sizing: border-box;
    font: $ni-nimble-body-font;
    color: $ni-nimble-body-font-color;
    padding: 0px 2px 0px 10px;
}

.container-label {
    font: $ni-nimble-group-header-font;
    color: $ni-nimble-group-header-font-color;
    padding-bottom: $ni-nimble-standard-padding;
}

.container {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.sub-container {
    margin: $ni-nimble-standard-padding;
}

.drawer-location-select {
    width: 200px;
}

example-header {
    display: block;
}

nimble-toolbar::part(positioning-region) {
    background-color: $ni-nimble-section-background-color;
}

.card-button-content {
    display: flex;
    margin: $ni-nimble-standard-padding;
}

.drawer-footer {
    gap: $ni-nimble-standard-padding;
}

.sub-container > nimble-anchor {
    margin-right: 0;
}

nimble-drawer {
    p {
        color: $ni-nimble-body-font-color;
    }
}

nimble-table {
    max-height: 480px;
}

.query-param-word {
    margin-top: $ni-nimble-standard-padding;
}

.rich-text-viewer-container {
    border: $ni-nimble-border-width solid rgba($ni-nimble-action-rgb-partial-color, 0.3);
    padding: $ni-nimble-small-padding;
    width: 350px;
}

.rich-text-editor-container {
    padding: $ni-nimble-small-padding;
}

.rich-text-editor {
    height: 280px;
}

.add-table-row-button {
    margin-top: $ni-nimble-small-padding;
}

spright-chat-conversation {
    max-width: 700px;
}

spright-chat-message span {
    white-space: pre-wrap;
}
